services:
  nginx:
    build: ./requirements/nginx/
    container_name: nginx-container
    ports:
      - 443:443
    stdin_open: true
    tty: true
    depends_on:
      - wordpress
    restart: always
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception

  wordpress:
    build: ./requirements/wordpress/
    container_name: wordpress-container
    restart: always
    expose:
      - 9000
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html
  
  mariadb:
    build: ./requirements/mariadb/
    container_name: mariadb-container
    restart: always
    expose:
      - 3306
    networks:
      - inception
    volumes:
      - mariadb_data:/var/lib/mysql
    
    

volumes:
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      device: /Users/dev/data/wordpress
      o: bind
  
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: /Users/dev/data/mariadb
      o: bind

networks:
  inception: