services:
  nginx:
    build: ./requirements/nginx/
    container_name: nginx-container
    ports:
      - 443:443
    stdin_open: true
    tty: true
    depends_on:
      - wordpress
    restart: always
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception

  wordpress:
    build: ./requirements/wordpress/
    container_name: wordpress-container
    restart: always
    expose:
      - 9000
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html

volumes:
  wordpress_data:
      driver: local
      driver_opts:
        type: none
        device: /Users/dev/data/wordpress
        o: bind

networks:
  inception: