services:
  nginx:
    build: ./requirements/nginx/
    container_name: nginx-container
    ports:
      - 443:443
    stdin_open: true
    tty: true
    depends_on:
      - wordpress
    restart: always
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception

  wordpress:
    build: ./requirements/wordpress/
    container_name: wordpress-container
    restart: always
    expose:
      - 9000
    depends_on:
      - mariadb
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html
    env_file:
      - .env
  
  mariadb:
    build: ./requirements/mariadb/
    container_name: mariadb-container
    restart: always
    expose:
      - 3306
    networks:
      - inception
    volumes:
      - mariadb_data:/var/lib/mysql
    env_file:
      - .env

volumes:
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /Users/dev/data/wordpress
  
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /Users/dev/data/mariadb

networks:
  inception: